.Panneaux-solaires {
    width: 138px;
    height: 94px;
}
.Panneaux-solaire-amélioré {
    width: 69px;
    height: 41px;

}
.Générateur-à-charbon {

}
.Groupe-électrogène {

}
.Repair-machine {

}
.list-Panneaux-solaires {
    width: 69px;
    height: 47px;
    margin-right: 10px;
}
.list-Panneaux-solaire-amélioré {
    width: 69px;
    height: 41px;
    margin-right: 10px;
}  
.list-Générateur-à-charbon {
    width: 24.75px;
    height: 63px;
    margin-right: 35px;
    margin-left: 20px;

} 
.list-Groupe-électrogène {
    width: 69px;
    height: 77px;
    margin-right: 10px;
}
.upgrade-2 {
    width: 25px;
    height: 25px;
}
